/* 变量 */
$blue : #1875e7;

div {
  color : $blue;
}

$side : left;

.rounded {
  border-#{$side}-radius: 5px;
}
/* 计算功能 */
$var : 100;

body {
  margin : (14px/2);
  top : 50px + 100px;
  right : $var * 10%;
}

/* 嵌套 */
div {
  hi {
    color : red;
  }
}
p {
  border : {
    color : red;
  }
}

a {
  &:hover { color : #ffb3ff;}
}

/* 继承 */
.class1 {
  border : 1px solid #ddd;
}

.class2 {
  @extend .class1;
  font-size:120%;
}

/* Mixin */
@mixin left($value: 10px) {
  float : left;
  margin-left : $value;
}

div {
  @include left(20px);
}

@mixin rounded($vert, $horz, $radius: 10px) {
  border-#{$vert}-#{$horz}-radius : $radius;
  -moz-border-radius-#{$vert}-#{$horz}: $radius;
  -webkit-border-#{$vert}-#{$horz}-radius: $radius;
}

#navbar li { @include rounded(top, left); }

#footer { @include rounded(top, left, 5px); }

/* 颜色函数 
lighten(#cc3, 10%);
darken(#cc3, 10%);
grayscale(#cc3);
complement(#cc3);
*/

/* 插入文件 */
@import "./import.scss";


/* 条件语句 */

$color : #cc3;

p {
  @if 1 + 1 == 2 { border : 1px solid;}
  @if 5 < 3 { border : 2px dotted;}


  @if lightness($color) > 30%  {
    background-color : #000;
  } @else {
    background-color : #fff;
  }
}

/* 循环语句 */
@for $i from 1 to 10 {
  .border-#{$i} {
    border : #{$i}px solid blue;
  }
}

$i : 6;

@while $i > 0 {
  .item-#{$i} { width : 2em * $i; }
  $i : $i - 2;
}

@each $member in a, b, c, d {
  .#{$member} {
    background-image : url("/image/#{$member}.jpg");
  }
}

/* 自定义函数 */
@function double($n) {
  @return $n * 2;
}

#sidebar{
  width : double(5px);
}
